# VS Code configuration
/.vscode*

# Python
__pycache__*
*.py[codz]
*$py.class*
.installed.cfg*
*.egg-info*/
*.egg*
/requirements.txt*
/*-info*

# Build
/build*
/dist*
/wheels*

# Output
/out*

# Temporary
/tmp*
/temp*
/dump*

# Environments
.env*
.envrc*
.venv*
/env*
/venv*
